*{
    padding: 0 0 0 0;
    align-self: center;
    background-color: #121212;
}
table{
    border-spacing: 8px;
}
.n{
    color: #dcdcdc;
    background-color: #ffa502;
    text-align: center;
    border-style: solid;
    border-color: whitesmoke;
    border-bottom-width: 0px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-collapse: separate;
    width: auto;
    padding: 2px 8px 2px 8px;
    box-shadow: 0 0 5px #E69602;
}
.n:hover{
              background-color: #E88009;
              box-shadow: 0 0 10px #CF7208;
 }
 .n:active{
    background-color: #E8B109;
    box-shadow: 0 0 15px #CF9D08;
 }
.h{
    color: #dcdcdc;
    background-color: #1BA94C;
    text-align: center;
    border-style: solid;
    border-color: whitesmoke;
    border-bottom-width: 0px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-collapse: separate;
    width: auto + 2px;
    padding: 2px 8px 2px 8px;
    box-shadow:0 0 5px #178F41;
 }
 .h:hover{
    background-color: #15BF20;
  box-shadow: 0 0 10px #12A61C;
}
.h:active{
    background-color: #15BF81;
              box-shadow: 0 0 15px #12A670;
}
