.n{
    text-align: center;
    border-style: solid;
    border-color: black;
border-bottom-width: 1px;
border-top-width: 0;
border-left-width: 0;
border-right-width: 0;
border-collapse: separate;
width: 80px;
 }
.h{
text-align: center;
border-style: solid;
border-color: black;
border-bottom-width: 1px;
border-top-width: 0;
border-left-width: 0;
border-right-width: 0;
border-collapse: separate;
width: 80px;
 }
